<div id="proSearch">
  <div class="parallax"></div>
    <div class='styleDivPro'>
      <header class="w-full">
        <div id="logo"></div>
      </header>  
    </div>
  
  {{!-- <div class="flex mb-4 mt-4">
    <div class="w-1/3"></div>
    <form class="w-1/3 max-w-sm">
      <div id="formDiv">
        <input class="focus:outline-none" type="text" placeholder="Enter Zipcode">
        <button class="btn focus:outline-none focus:shadow-outline" type="button">
            Submit
          </button>
      </div>
    </form>
    <div class="w-1/3"></div>
  </div> --}}

  <div class="flex mb-4">
    <div id="map" class="w-1/2 text-center"></div>
    <div id="mapList" class="w-1/2 text-center">
        <ul id="mechanicList">
          <li><button id="mechanicBtn">Mechanic 1</button></li>
        </ul>
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="mechanicModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <h2>Mechanic's Name</h2>
      <span class="closeModal">&times;</span>
    </div>
    <div class="modal-body">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quibusdam error voluptatum, quam odio modi minus nobis nam veritatis sit est, eligendi placeat repellat culpa quis, aut facere distinctio veniam.</p>
    </div>
    <div class="modal-footer"></div>
  </div>

</div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="/js/index.js"></script>