<link rel="stylesheet" href="/styles/output.css" media="screen" title="no title" charset="utf-8">

<div id="proSearch">
  <div class="parallax"></div>
    <div class='styleDivPro'>
      <header class="w-full">
        <div id="logo"></div>
      </header>  
    </div>

  <div class="flex mb-4">
    <div id="map" class="w-1/2 text-center"></div>
    <div id="mapList" class="w-1/2 text-center">
        <ul id="mechanicList">
          <li class="pt-10"><button id="mechanicBtn">Mechanic 1</button></li>
          <li class="pt-10"><button id="mechanicBtn">Mechanic 2</button></li>
          <li class="pt-10"><button id="mechanicBtn">Mechanic 3</button></li>
        </ul>
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="mechanicModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <h2 id="modalName">Mechanic's Name</h2>
      <span class="closeModal">&times;</span>
    </div>
    <div class="modal-body">
      <ul>
        <li id="modalPhoto"></li>
        <div class="flex mt-4">
          <li id="modalLink" class="w-1/2 text-center"><a href="#">Mechanic's Link</a></li>
          <li id="modalPhone" class="w-1/2 text-center">407-407-4074</li>
        </div>
      </ul>
    </div>
    <div class="modal-footer"></div>
  </div>

</div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="/js/index.js"></script>