@tailwind base;
body {
  font-family: 'Noto Sans', sans-serif;
}

header #logo {
  width: 400px;
  height: 216px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/logoBlack.png");
  background-repeat: no-repeat;
  @apply bg-contain rounded-lg relative;
}

.styleDivPro {
  background-image: url("../images/background-blank-empty-62693.jpg");
  background-repeat: no-repeat;
  @apply bg-fixed bg-cover pt-12 pb-8;
}

@tailwind utilities;

#formDiv {
  @apply flex items-center border-b border-b-2 border-blue-500 py-2;
}

form input {
  @apply appearance-none text-center bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight;
}

.parallax {
  background-image: url("../images/wrenchWall.jpg");
  min-height: 400px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#map{
  width: 384px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 65px;
  background-image: url("../images/mapBackground.jpg");
  background-repeat: no-repeat;
  @apply bg-contain rounded-lg block relative mt-20;
}

#mapList ul {
  @apply p-4 mt-2;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  width: 70%;
  max-width: 600px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name: modalOpen;
  animation-duration: 1.5s;
}

/* Modal Header */
.modal-header {
  padding: 15px;
  background: #446387;
  color: #fefefe
}

.modal-header h2 {
  margin: 0;
  padding-top: 2px;
  font-size: 2rem
}

/* Modal Close Button */
.closeModal {
  color: #fefefe;
  float: right;
  font-size: 30px;
  font-weight: bold
}

.closeModal:hover,
.closeModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 15px;
  color: #515551
}

#modalPhoto {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("https://picsum.photos/200/200");
  background-repeat: no-repeat;
  @apply bg-contain rounded-lg block relative;
}
@keyframes modalOpen {
  from {opacity: 0};
  to {opacity: 1}
}